#table {
    margin-bottom: .5rem;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    background: #333;
}

[data-cell] {
    width: 9px;
    height: 9px;

    border-top: 1px solid #666;
    border-left: 1px solid #666;
}

[data-cell]:last-child {
    width: 10px;

    border-right: 1px solid #666;
}

.row:last-child [data-cell] {
    height: 10px;

    border-bottom: 1px solid #666;
}

.selected {
    background: red;
}

#selectable{
    background-color: red;
}
.tools.horizontal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: .5rem;

    border-radius: 3px;

    -ms-flex-pack: justify;
    justify-content: space-between;
}

.tools.horizontal>div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.tools [class*="icon-"] {
    line-height: 32px;

    width: 32px;
    height: 32px;

    text-align: center;

    border-radius: 2px;
    background-color: #fff;

    box-shadow: 0 0 1px #333;
}

.tools.vertical {
    position: absolute;
    top: 0;
    left: -2.5rem;
}

.tools.vertical span {
    display: block;

    margin-bottom: 8px;
}

.frames {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    width: 100%;

    -ms-flex-pack: center;
    justify-content: center;
}

.frames .icon-arrow-left2,
.frames .icon-arrow-right2 {
    line-height: 27px;

    height: 27px;
}

.frames .icon-arrow-left2 {
    margin-right: 10px;
}

.frames .icon-arrow-right2 {
    margin-left: 10px;
}

.frames .frame {
    line-height: 27px;

    width: 48px;
    height: 27px;
    margin-right: 10px;

    cursor: default;
    text-align: center;

    background-color: #eee;
    box-shadow: 0 0 1px #666;
}

.frames .frame:nth-last-child(2) {
    margin: 0;
}

.frames .frame:hover {
    box-shadow: 0 0 5px #333;
    transition: 0.2s;
}

.frames .frame.on {
    background-color: #fff;
    color: #333;
}

.frames .frame.active {
    background-color: #333;
    color: #fff;
}

#color-select input, #boardBackground {
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
}



.drawing-tools > [class*="icon-"] {
    margin-right: 5px;
}

.frame-tools > [class*="icon-"] {
    margin-left: 5px;
}

.drawing-tools [data-active] {
    background-color: #333;
    color: #fff;
}

.hover {
    outline: 1px solid red;
    z-index: 2;
}
